node-red/camping-display.json
[
  {
    "id": "camp_tab_main",
    "type": "tab",
    "label": "Camping Display MQTT",
    "disabled": false,
    "info": "Adapter: JSON-Telemetrie → lars/mppt/* · Relais cmd-Beispiel\nSiehe NODE_RED.md"
  },
  {
    "id": "camp_broker",
    "type": "mqtt-broker",
    "name": "mosquitto-local",
    "broker": "127.0.0.1",
    "port": 1883,
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": 4,
    "keepalive": 60,
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": ""
  },
  {
    "id": "camp_c_a1",
    "type": "group",
    "z": "camp_tab_main",
    "name": "A · Telemetry JSON → Display",
    "style": { "label": true },
    "nodes": [
      "camp_mqtt_in_tel",
      "camp_fn_adapter",
      "camp_mqtt_out_flat",
      "camp_inj_demo",
      "camp_cmt_a1"
    ],
    "x": 34,
    "y": 39,
    "w": 752,
    "h": 182
  },
  {
    "id": "camp_cmt_a1",
    "type": "comment",
    "z": "camp_tab_main",
    "g": "camp_c_a1",
    "name": "Abonniert z. B. camping/telemetry/mppt — siehe NODE_RED.md für JSON-Schema",
    "info": "",
    "x": 60,
    "y": 60,
    "wires": []
  },
  {
    "id": "camp_mqtt_in_tel",
    "type": "mqtt in",
    "z": "camp_tab_main",
    "g": "camp_c_a1",
    "name": "Telemetry JSON",
    "topic": "camping/telemetry/mppt",
    "qos": "0",
    "datatype": "json",
    "broker": "camp_broker",
    "nl": false,
    "rap": false,
    "rh": 0,
    "inputs": 0,
    "x": 200,
    "y": 140,
    "wires": [["camp_fn_adapter"]]
  },
  {
    "id": "camp_fn_adapter",
    "type": "function",
    "z": "camp_tab_main",
    "g": "camp_c_a1",
    "name": "JSON → lars/mppt/*",
    "func": "let j = msg.payload;\nif (typeof j === 'string') {\n    try { j = JSON.parse(j); } catch (e) { return null; }\n}\nif (!j || typeof j !== 'object') return null;\n\nconst publish = (topic, value) => {\n    if (value === undefined || value === null || !topic) return;\n    const n = Number(value);\n    if (Number.isNaN(n)) return;\n    node.send({ topic, payload: String(n), qos: 0, retain: false });\n};\n\npublish('lars/mppt/soc', j.soc);\npublish('lars/mppt/batV', j.voltage ?? j.bat_v);\npublish('lars/mppt/solarW', j.solar_w ?? j.solarW);\n/* Optional: in config.h TOPIC_* setzen und hier aktivieren\npublish('lars/mppt/batA', j.current_a);\npublish('lars/mppt/loadW', j.load_w);\npublish('lars/mppt/batTemp', j.temp_c);\n*/\nreturn;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 140,
    "wires": [["camp_mqtt_out_flat"]]
  },
  {
    "id": "camp_mqtt_out_flat",
    "type": "mqtt out",
    "z": "camp_tab_main",
    "g": "camp_c_a1",
    "name": "Flat → Broker",
    "topic": "",
    "qos": "0",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "camp_broker",
    "x": 680,
    "y": 140,
    "wires": []
  },
  {
    "id": "camp_inj_demo",
    "type": "inject",
    "z": "camp_tab_main",
    "g": "camp_c_a1",
    "name": "Demo JSON",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": {
      "schema": "camping.telemetry.mppt.v1",
      "soc": 72.3,
      "voltage": 13.05,
      "solar_w": 380
    },
    "payloadType": "json",
    "x": 170,
    "y": 200,
    "wires": [["camp_fn_adapter"]]
  },
  {
    "id": "camp_c_b1",
    "type": "group",
    "z": "camp_tab_main",
    "name": "B · Relais cmd (Beispiel)",
    "style": { "label": true },
    "nodes": ["camp_mqtt_in_relay", "camp_fn_relay", "camp_dbg_relay", "camp_mqtt_out_state", "camp_cmt_b1"],
    "x": 34,
    "y": 260,
    "w": 752,
    "h": 200
  },
  {
    "id": "camp_cmt_b1",
    "type": "comment",
    "z": "camp_tab_main",
    "g": "camp_c_b1",
    "name": "Display sendet toggle auf lars/relais/n/cmd — hier nur Simulation des state",
    "info": "",
    "x": 60,
    "y": 280,
    "wires": []
  },
  {
    "id": "camp_mqtt_in_relay",
    "type": "mqtt in",
    "z": "camp_tab_main",
    "g": "camp_c_b1",
    "name": "Relais cmd",
    "topic": "lars/relais/+/cmd",
    "qos": "1",
    "datatype": "utf8",
    "broker": "camp_broker",
    "nl": false,
    "rap": false,
    "rh": 0,
    "inputs": 0,
    "x": 180,
    "y": 360,
    "wires": [["camp_fn_relay"]]
  },
  {
    "id": "camp_fn_relay",
    "type": "function",
    "z": "camp_tab_main",
    "g": "camp_c_b1",
    "name": "Topic → state + Demo-Toggle",
    "func": "const parts = msg.topic.split('/');\nconst idx = parts.indexOf('relais');\nif (idx < 0 || !parts[idx + 1]) return null;\nconst n = parts[idx + 1];\nconst stateTopic = 'lars/relais/' + n + '/state';\nconst cmd = (msg.payload || '').toString().toLowerCase();\n\n// Demo: bei toggle abwechselnd on/off — ersetzen durch echte Aktor-Logik\nconst ctx = flow.get('relay_demo_' + n) || false;\nconst next = cmd === 'toggle' ? !ctx : (cmd === '1' || cmd === 'on');\nflow.set('relay_demo_' + n, next);\n\nmsg.payload = next ? 'on' : 'off';\nmsg.topic = stateTopic;\nmsg.qos = 1;\nmsg.retain = true;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 400,
    "y": 360,
    "wires": [["camp_dbg_relay", "camp_mqtt_out_state"]]
  },
  {
    "id": "camp_dbg_relay",
    "type": "debug",
    "z": "camp_tab_main",
    "g": "camp_c_b1",
    "name": "Debug state",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "statusVal": "",
    "statusType": "auto",
    "x": 640,
    "y": 320,
    "wires": []
  },
  {
    "id": "camp_mqtt_out_state",
    "type": "mqtt out",
    "z": "camp_tab_main",
    "g": "camp_c_b1",
    "name": "state → Display",
    "topic": "",
    "qos": "1",
    "retain": "true",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "camp_broker",
    "x": 660,
    "y": 400,
    "wires": []
  }
]
